<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reg Confirmation</title>
    <link rel="stylesheet" th:href="@{/css/registration-confirmation-style.css}">
</head>
<body>

<div class="container">
    <h1>GFinance</h1>
    <div class="subtext">Sign-up</div>
    <div class="horizontal-rule"></div>
    <div>Registration successful</div>
    <a th:href="@{/showMyLoginPage}" class="login-signup-button">Login</a>

</div>


</body>
</html>