<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta hstylettp-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign-up page</title>
  <link rel="stylesheet" th:href="@{/css/sign-up-form-style.css}">

</head>
<body>

<div class="container">

  <h1>GFinance</h1>
  <div class="subtext">Sign-up</div>
  <div class="horizontal-rule"></div>
  <form action="" th:action="@{/registration/processRegistrationForm}" th:object="${webUser}" method="POST">
    <div th:if="${registrationError}">

      <div>
        Username already exists
      </div>

    </div>
    <input type="text" th:field="*{userName}" placeholder="New username" maxlength="30">
    <div class="error">Passwords do not match</div>
    <input  class="pw1" type="password" placeholder="New password">
    <input class="pw2" type="password" th:field="*{password}" placeholder="Confirm password">
    <button type="submit" class="login-signup-button">Create account</button>
  </form>

  <script th:inline = "javascript">
    const regForm = document.querySelector("form");
    console.log(regForm);
    regForm.addEventListener("submit", (e) => {

        const pw1 = document.querySelector(".pw1");
        const pw2 = document.querySelector(".pw2");
        const existingMessage = document.querySelector(".error");
        console.log(pw2.value);
        if (!(pw1.value === pw2.value)) {
            e.preventDefault();
            existingMessage.style.visibility = "visible";

        } else if (pw1.value === pw2.value) {

            existingMessage.style.visibility = "hidden";
        }
    })


  </script>
</div>

<div class="login-signup-subtext">Already a user? login <a th:href="@{/showMyLoginPage}">here</a></div>

</body>
</html>