<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/homepage.css}">

</head>
<body>
<div class="container">
    <h1>GFinance</h1>
    <div class="slogan">A gamified personal finance experience</div>
    <div class="horizontal-rule"></div>
    <a th:href="@{/registration/showMyRegistrationPage}" class="login-signup-button">Sign-up</a>
    <div class="login-signup-subtext">Already a user? Login <a th:href="@{/main}">here</a></div>
</div>

</body>
</html>