<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Records</title>
  <link rel="stylesheet" th:href="@{/css/budgets/budgets-form-style.css}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>
<body>

<div class="container">
  <div class="sidebar">

    <div class="sidebar-header">
      My Tools
    </div>


    <a th:href="@{/gfinance/main}">
      <div class="sidebar-option">
        <span class="material-icons md-48">home</span>
        Home
      </div>
    </a>

    <a th:href="@{/gfinance/budgets}">
      <div class="sidebar-option">
        <span class="material-icons md-48">balance</span>
        Budgets
      </div>
    </a>

    <a th:href="@{/gfinance/savings}">
      <div class="sidebar-option">
        <span class="material-icons md-48">savings</span>
        Savings
      </div>
    </a>

    <a th:href="@{/gfinance/reoccurring}">
      <div class="sidebar-option">
        <span class="material-icons md-48">autorenew</span>
        Reoccurring
      </div>
    </a>

    <a th:href="@{/gfinance/investments}">
      <div class="sidebar-option">
        <span class="material-icons md-48">show_chart</span>
        Investments
      </div>
    </a>

    <a th:href="@{/gfinance/achievements}">
      <div class="sidebar-option">
        <span class="material-icons md-48">emoji_events</span>
        Achievements
      </div>
    </a>

    <a th:href="@{/gfinance/records}">
      <div class="sidebar-option">
        <span class="material-icons md-48">swap_vert</span>
        Records
      </div>
    </a>


    <a th:href="@{/gfinance/settings}">
      <div class="sidebar-option settings">
        <span class="material-icons md-48">settings</span>
        Settings
      </div>
    </a>

  </div>


  <div class="main">
    <div class="main-header">
      <h1>GFinance</h1>
      <div class="main-header-sub-header">Budget</div>

      <div class="horizontal-rule"></div>
    </div>

    <div class="main-body">
      <form action="" th:action="@{/gfinance/processBudgetForm}" th:object="${checking}" method="POST">
        <label for="budget">New daily budget:</label>
        <input type="number" id="budget" min="0.01" step="0.01" required th:field="*{budget}" max="100000000000">
        <button type="submit">Submit</button>
        <a th:href="@{/gfinance/budgets}"><button type="button">cancel</button></a>
      </form>
    </div>

  </div>
</div>

</body>
</html>