<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main app</title>
    <link rel="stylesheet" th:href="@{/css/settings/settings-style.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <style>
        /* Rules for icon sizes: */

    </style>
</head>
<body>

<div class="container">
    <div class="sidebar">

        <div class="sidebar-header">
            My Tools
        </div>

        <a th:href="@{/gfinance/main}">
            <div class="sidebar-option">
                <span class="material-icons md-48">home</span>
                Home
            </div>
        </a>

        <a th:href="@{/gfinance/budgets}">
            <div class="sidebar-option">
                <span class="material-icons md-48">balance</span>
                Budgets
            </div>
        </a>

        <a th:href="@{/gfinance/savings}">
            <div class="sidebar-option">
                <span class="material-icons md-48">savings</span>
                Savings
            </div>
        </a>

        <a th:href="@{/gfinance/reoccurring}">
            <div class="sidebar-option">
                <span class="material-icons md-48">autorenew</span>
                Reoccurring
            </div>
        </a>

        <a th:href="@{/gfinance/investments}">
            <div class="sidebar-option">
                <span class="material-icons md-48">show_chart</span>
                Investments
            </div>
        </a>

        <a th:href="@{/gfinance/achievements}">
            <div class="sidebar-option">
                <span class="material-icons md-48">emoji_events</span>
                Achievements
            </div>
        </a>

        <a th:href="@{/gfinance/records}">
            <div class="sidebar-option">
                <span class="material-icons md-48">swap_vert</span>
                Records
            </div>
        </a>


        <a th:href="@{/gfinance/settings}">
            <div class="sidebar-option settings">
                <span class="material-icons md-48">settings</span>
                Settings
            </div>
        </a>

    </div>

    <div class="main">
        <div class="main-header">
            <h1>GFinance</h1>
            <div class="main-header-sub-header">Settings</div>
            <div class="horizontal-rule"></div>
        </div>

        <div class="main-body">
            <div class="account-management">
                <div class="search" sec:authorize="hasRole('ROLE_ADMIN')">
                    <form action="" th:action="@{/gfinance/processUserSettingsForm}" th:object="${webUser}" method="POST">
                        <label for="username">Search user:</label>
                        <div th:if="${err}">User does not exist</div>
                        <input type="text" id="userName" required th:field="*{userName}">
                        <button type="submit">Search</button>
                    </form>

                    <div class="user" th:if="${user.username != null}">
                        <div th:text="'User: ' +${user.username}"></div>
                        <a title="enable" th:if="${user.enabled == 0}" th:href="@{/gfinance/processAdminUserActivation(username=${user.username})}" onclick="if (!(confirm('Are you sure you want to enable this user?'))) return false"><span class="material-icons md-48">toggle_off</span></a>
                        <a title="disable" th:if="${user.enabled == 1}" th:href="@{/gfinance/processAdminUserActivation(username=${user.username})}" onclick="if (!(confirm('Are you sure you want to disable this user?'))) return false"><span class="material-icons md-48">toggle_on</span></a>
                        <a th:href="@{/gfinance/processAdminUserDelete(username=${user.username})}" onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false"><span class="material-icons md-48">delete</span></a>
                    </div>
                </div>


                <div>
                    <form action="#" th:action="@{/logout}"
                          method="POST">
                        <button type="submit">Logout</button>
                    </form>
                </div>
                <div>
                    <a th:href="@{/gfinance/processUserDelete(checkId=${userCheck.id})}" onclick="if (!(confirm('Are you sure you want to delete this transaction?'))) return false">Delete Account</a>
                </div>
            </div>
        </div>

    </div>



</div>
</body>
</html>